

.footer-main-container {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  max-width: 630px;
  height: auto;
  padding: 15px;
  gap: 1.5em;
  background-color: rgba(128, 128, 128, 0.3);
}

.footer-content-title h1 {
  font-size: 25px;
}

.footer-content-title li {
  padding: 2px;
  list-style: none;
  cursor: pointer;
}

.footer-content-title li:hover {
  color: tomato;
}

.social-media-links-container {
  display: flex;
  width: 100%;
  padding: 5px;
  gap: 1em;
}

.social-media-icons {
  font-size: 30px;
  cursor: pointer;
}

.social-media-icons:hover {
  color: tomato;
}

.qr-code-image {
  width: 150px;
  height: 150px;
}