.product-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

.main-products-main-container {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 630px;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  gap: .3em;
  padding: 15px;
  z-index: 1;
}

.searchbar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  max-width: 630px;
  height: 60px;
  padding: 5px;
  top: 75px;
  left: 50%;
  padding: 8px;
  transform: translate(-50%, 0%);
  background-color: white;
  z-index: 9;
}

.searchbar-container input {
  display: flex;
  width: 80%;
  height: 100%;
  padding: 15px;
  font-size: 14px;
  margin-right: -1px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top: 2px solid tomato;
  border-left: 2px solid tomato;
  border-bottom: 2px solid tomato;
  border-right: none;
}

.search-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  margin-left: -1px;
  width: 15%;
  height: 100%;
  background-color: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top: 2px solid tomato;
  border-bottom: 2px solid tomato;
  border-right: 2px solid tomato;
  border-left: none;
}

.product-items-main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  width: 100%;
  gap: 1em;
  padding: 5px;
  margin-top: 130px;
  
}

.product-items-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 160px;
  height: 240px;
  border-radius: 10px;
  background-color: rgba(128, 128, 128, 0.15);
}

.product-items-wrapper h1 {
  font-size: 14px;
  padding: 5px;
}

.product-items-wrapper p {
  font-size: 14px;
  padding: 5px;
}

.product-prices-ratings-wrapper {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  left: 0;
  bottom: 40px;
  width: 100%;
  height: 50px;
}

.price-p-tag {
  display: flex;
  width: 100%;
  border-bottom: 2px solid tomato;
}

.product-prices-ratings-wrapper p {
  font-size: 12px;
}

.product-image {
  display: flex;
  width: 100%;
  height: 80px;
  border-radius: 10px;
}

.product-details-cart-btns-wrapper {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: space-around;
  left: 0;
  bottom: 10px;
  width: 100%;
  height: 25px;
}

.product-details-cart-btns-wrapper p {
  color: #00AD99;
  font-size: 12px;
}

.product-details-cart-btns-wrapper span {
  color: gray;
  font-size: 14px;
}

.product-items-btns {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: space-around;
  right: 0;
  bottom: 10px;
  width: 50%;
  height: 25px;
}

.truck-icon {
  color: #00AD99;
}

.info-icon {
  color: blue;
  cursor: pointer;
}

.cart-icon {
  color: tomato;
  cursor: pointer;
}

.star-icon {
  color: rgb(220, 187, 3)
}

.product-added-to-cart-message {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  width: 260px;
  height: 70px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 100;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.7);
}























.product-details-modal-container-on {
  display: flex;
  position: fixed;
  max-width: 630px;
  width: 100%;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(128, 128, 128, 0.5);
  box-shadow: 0px 0px 30px 0px #000;
  z-index: 15;
}

.product-details-modal-container-off {
  display: none;
}

.product-detail-modal-wrapper {
  display: flex;
  position: relative;
  width: 80%;
  height: 450px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  box-shadow: 0px 0px 30px 0px #000;
  background-color: white;
}

.product-detail-modal-close-btn {
  display: flex;
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 30px;
  color: red;
  z-index: 20;
  cursor: pointer;
}

.product-details {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.product-details-thumbnails {
  display: flex;
  position: relative;
  width: 80%;
  height: 140px;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 10px;
}

.thumbnails-image {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.product-details-arrow-btns {
  display: flex;
  position: absolute;
  bottom: 10px;
  right: 15px;
  gap: 1.5em;
  font-size: 23px;
  z-index: 20;
}

.product-details-arrow-prev {
  display: flex;
  color: tomato;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px tomato;
}

.product-details-arrow-prev:hover {
  color: rgb(253, 64, 30);
}

.product-details-arrow-next {
  display: flex;
  color: tomato;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px tomato;
}

.product-details-arrow-next:hover {
  color: rgb(253, 64, 30);
}

.product-details-contents {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 80%;
  height: 230px;
  top: 15%;
  left: 50%;
  overflow-y: scroll;
  transform: translate(-50%, -0%);
}

.product-details-contents span {
  color: tomato;
}

.imageSlide {
  opacity: 0;
  transition-duration: 1s ease;
}

.imageSlide.active {
  opacity: 1;
  transition-duration: 1s;
  border: none;
}


























.placed-order-main-container-on {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  gap: .5em;
  width: 100%;
  height: 100vh;
  padding: 80px 5px 5px 5px;
  overflow-y: scroll;
  background-color: white;
  transition: .3s ease;
}

.placed-order-main-container-off {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: -300%;
  width: 100%;
  height: 100vh;
  padding: 80px 5px 5px 5px;
  overflow-y: scroll;
  background-color: white;
  transition: .3s ease;
}

.back-to-cart-and-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  font-size: 35px;
}

.back-to-cart-icon {
  color: gray;
  cursor: pointer;
}

.back-to-cart-icon:hover {
  color: tomato;
}

.back-to-cart-and-header-container p {
  font-size: 18px;
}

.delivery-name-address-details-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  padding: 15px;
  border-radius: 15px;
  background-color: rgba(128, 128, 128, 0.15);
}

.delivery-name-address-details-container h3 {
  display: flex;
  margin-bottom: 15px;
}

.delivery-name-address-detail-icons {
  display: flex;
  position: absolute;
  top: 15px;
  right: 15px;
  gap: .5em;
  font-size: 22px;
  color: gray;
}

.add-delivert-inforamation-icon {
  cursor: pointer;
}

.add-delivert-inforamation-icon:hover {
  color: tomato;
}

.order-summary-edit-icon {
  cursor: pointer;
}

.order-summary-remove-icon {
  cursor: pointer;
}

.order-summary-edit-icon:hover {
  color: tomato;
}

.order-summary-remove-icon:hover {
  color: red;
}

.placed-order-product-items-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.items-wrapper {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 0px 0px 5px 10px;
}

.items-wrapper-img {
  display: flex;
  width: 120px;
  height: 80px;
  padding: 5px;
}

.items-wrapper-img img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.items-contents-wrapper {
  display: flex;
  flex-direction: column;
}

.items-contents-wrapper p {
  font-size: 12px;
}

.items-content-ulit-title {
  font-size: 13px;
}

.items-content-unit-price {
  font-weight: 600;
}

.items-content-unit-total-price {
  color: red;
  font-weight: 600;
}

.delivery-option-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px;
  gap: .5em;
}

.delivery-option-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  gap: .5em;
  width: 100%;
  height: 80px;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid black;
}

.place-order-shipping-price {
  display: flex;
  position: absolute;
  top: 9px;
  right: 10px;
}

.payment-option-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px;
  gap: .5em;
}

.payment-option-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  gap: .5em;
  width: 100%;
  height: 80px;
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(128, 128, 128, 0.3);
}

.payment-option-wrapper img {
  width: 60px;
}

.radio-btn {
  display: flex;
  position: absolute;
  top: 15px;
  right: 15px;
}

.merchant-subtotal-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 200px;
  gap: 1em;
  padding: 5px;
}

.subtotatal-price-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subtotatal-price-wrapper span {
  color: gray;
  font-weight: 500;
}

.vouchers-main-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.vouchers-wrapper {
  display: flex;
  align-items: center;
  gap: .8em;
}

.merchant-voucher {
  color: tomato;
}

.points-voucher {
  color: darkgreen;
}

.shipping-voucher {
  color: darkblue;
}

.grand-total-price-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 80px;
}

.grand-total-price-container span {
  font-weight: 200;
  color: gray;
}

.placed-order-btn-container-on {
  display: flex;
  width: 100%;
  height: 75px;
  position: fixed;
  bottom: 0;
  left: 0;
  gap: 1em;
  align-items: center;
  justify-content: end;
  padding-right: 15px;
  background-color: white;
  border-top: 1px solid tomato;
  transition: .5s ease;
}

.placed-order-btn-container-off {
  display: flex;
  width: 100%;
  height: 60px;
  position: fixed;
  bottom: -70px;
  left: 0;
  gap: 1em;
  align-items: center;
  justify-content: end;
  padding-right: 15px;
  background-color: white;
  transition: .5s;
}

.placed-order-btn-container-on button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 50px;
  cursor: pointer;
  background-color: tomato;
  border: none;
  color: white;
  border-radius: 10px;
}

.placed-order-btn-container-on button:hover {
  background-color: red;
}





