.main-page-contents-container {
  display: flex;
  flex-direction: column;
  max-width: 630px;
  width: 100%;
  height: auto;
  gap: .3em;
  padding: 15px;
  z-index: 1;
}

.shop-text-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1em;
  font-size: 13px;
}

.main-page-shop-now-btn {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  right: 25px;
  bottom: 25px;
  width: 150px;
  height: 55px;
  color: white;
  font-size: 12px;
  background-color: tomato;
  border-radius: 12px;
  border: none;
  z-index: 1;
  cursor: pointer;
}

.main-page-shop-now-btn:hover {
  color: #C9192D;
  font-weight: 600;
  background-color: #FEB800;
}