.main-page-contents-container {
  display: flex;
  flex-direction: column;
  max-width: 630px;
  width: 100%;
  height: auto;
  gap: .3em;
  padding: 15px;
  z-index: 1;
}

.search-bar-container {
  display: flex;
  width: 100%;
  height: 50px;
  margin-top: 75px;
}

.search-bar-container input {
  display: flex;
  padding: 15px;
  width: 100%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top: 1px solid tomato;
  border-bottom: 1px solid tomato;
  border-left: 1px solid tomato;
  border-right: none;
}

.search-bar-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: tomato;
  width: 50px;
  height: 50px;
  font-size: 20px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top: 1px solid tomato;
  border-bottom: 1px solid #ff6347;
  border-left: none;
  border-right: 1px solid tomato;
  background-color: white;
}

.featured-images-container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 630px;
  height: 160px;
}

.animated-slide.active {
  opacity: 1;
  transition-duration: .5 ease;
} 

.animated-slide {
  opacity: 0;
  transition-duration: .5s;
} 

.featured-images-wrapper img {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 160px;
  border-radius: 15px;
  z-index: 5;
}

.prev-btn {
  display: flex;
  position: absolute;
  left: 10px;
  z-index: 9;
  cursor: pointer;
}

.next-btn {
  display: flex;
  position: absolute;
  right: 10px;
  z-index: 9;
  cursor: pointer;
}

.shop-text-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1em;
  font-size: 13px;
}

.circles-btn-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 90px;
  gap: .5em;
  overflow-x: scroll;
}

.circle-icons-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 15px;
  padding: 0px 10px;
  cursor: pointer;
}

.active {
  border: 1px solid tomato;
}

.circle-icon-bg-color-tomato {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  width: 50px;
  height: 50px;
  background-color: tomato;
  border-radius: 50%;
}

.circle-icon-bg-color-yellow {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  width: 50px;
  height: 50px;
  background-color: #FEB800;
  border-radius: 50%;
}

.circle-icon-bg-color-yellow:hover {
  font-size: 30px;
}

.circle-icon-bg-color-red {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  width: 50px;
  height: 50px;
  background-color: #C9192D;
  border-radius: 50%;
}

.circle-icon-bg-color-red:hover {
  font-size: 30px;
}

.circle-icon-bg-color-blue {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  width: 50px;
  height: 50px;
  background-color: #05858E;
  border-radius: 50%;
}

.circle-icon-bg-color-blue:hover {
  font-size: 30px;
}

.circle-icon-bg-color-green {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  width: 50px;
  height: 50px;
  background-color: #208e05;
  border-radius: 50%;
}

.circle-icon-bg-color-green:hover {
  font-size: 30px;
}

.circle-icon-bg-color-brown {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  width: 50px;
  height: 50px;
  background-color: #8e6705;
  border-radius: 50%;
}

.circle-icon-bg-color-brown:hover {
  font-size: 30px;
}

.circle-p-font-size {
  font-weight: 600;
  font-size: 10px;
}

.vouchers-container {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 140px;
}

.voucher-title-and-link-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 40px;
}

.voucher-title-and-link-wrapper p {
  color: tomato;
}

.voucher-tickets-wrapper {
  display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  padding: 5px;
  overflow-x: scroll;
  gap: .3em;
  background-color: rgba(128, 128, 128, 0.3);
  border-radius: 15px;
}

.categories-container {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 340px;
}

.category-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 40px;
}

.category-title-wrapper p {
  color: tomato;
}

.categories-icon-and-title-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: absolute;
  left: 0;
  top: 40px;
  width: 100%;
  height: 300px;
}

.image-and-title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 150px;
  cursor: pointer;
}

.image-and-title-wrapper img {
  width: 100px;
  height: 100px;
  border-radius: 15px;
}

.image-and-title-wrapper img:hover {
  transform: scale(1.2, 1.2);
  transition: .3s;
}

.image-and-title-wrapper p {
  text-align: center;
}

.main-page-shop-now-btn {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  right: 25px;
  bottom: 25px;
  width: 100px;
  height: 40px;
  color: white;
  font-size: 12px;
  background-color: tomato;
  border-radius: 15px;
  border: none;
  z-index: 1;
  cursor: pointer;
}

.main-page-shop-now-btn:hover {
  color: #C9192D;
  font-weight: 600;
  background-color: #FEB800;
}